#contenedor-contacto {
	padding: 3% 0;
}

#contenedor-form {
	padding: 0 9% 0 1%;
}

#contacto-form {
	background: white;
	padding: 10px 10px 40px 10px;
}

#contacto-form label{
	font-size: 1.6em;
}

#contact-info {
	margin-top: 55px;
}